{% load static %}
<meta charset="utf-8">

<div class="page-header">
	<h4>Leave Comments</h4>
</div>
<div id="form_comment">
	<form id="comment_form" method="POST">
		<div id="comment_form_error" class="alert alert-danger" role="alert"
			style="display: none;">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span id="error_message"></span>
		</div>
		<div id="comment_form_info" class="alert alert-warning" role="alert"
			style="display: none;">
			<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
			<span id="info_message"></span>
		</div>
		<input id="id_csrf_token" type='hidden' name='csrfmiddlewaretoken'
			value='{{ csrf_token }}' />
		<div class="form-group">
			<input name="atrb_name" class="form-control" placeholder="Name"
				maxlength="30" id="id_atrb_name" type="text" required>
		</div>
		<div class="form-group">
			<input name="atrb_email" class="form-control" placeholder="Email"
				maxlength="30" id="id_atrb_email" type="email" required>
		</div>
		<div class="form-group">
			<textarea name="atrb_comment" cols="40" rows="10"
				class="form-control" placeholder="Comment" style="resize: none;"
				id="id_atrb_comment" required></textarea>
		</div>
		<button id="button_comment_form"
			class="btn btn-outline-primary" type="submit">Send</button>
	</form>
</div>
