
<!DOCTYPE html>
<html lang="en">
<head>
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
</head>
<meta charset="utf-8">

<body>
	<div class="container">
		<br />
		<div class="text-center center-block">

			<br /> <a target="_blank" href="https://scholar.google.com/citations?user=RDYJslIAAAAJ&hl=pt-BR"><i
				class="ai ai-google-scholar-square ai-3x"></i></a> <a
				target="_blank" href="https://github.com/Willtl"><i
				class="fa fa-github-square fa-3x social"></i></a> <a
				target="_blank" href="https://lu.linkedin.com/in/williantl"><i
				class="fa fa-linkedin-square fa-3x social"></i></a> <a
				href="mailto:willian.tessarolunardi@uni.lu"><i
				class="fa fa-envelope-square fa-3x social"></i></a>
			<p class="txt-railway">Copyright © {% now "Y" %}, Design Willian
				Tessaro Lunardi</p>
		</div>
		<br />
	</div>
</body>
</html>
