{% load static %}
<meta charset="utf-8">

<div class="py-5 container">
	<div class="row">
		<div class="col-rg text-center" style="margin-right: 15px;">
			<img data-src="holder.js/200x200" class="img-thumbnail "
				alt="200x200" style="width: 247px; height: 247px;"
				src="{% static 'webcontext/images/citations.png' %}"
				data-holder-rendered="true">
		</div>
		<div class="col-rg">
			<h3>
				<span>Willian Tessaro Lunardi</span>
			</h3>
			<div class="row pt-2">
				<div class="col-rg" style="margin-right: 15px;">PhD Candidate</div>
				<div class="col-rg">
					<a href="#">CV</a> | <a target="_blank"
						href="https://linkedin.com/in/williantl">Linkedin</a> | <a
						href="{% url 'contact' %}">Contact details</a>
				</div>
			</div>
			<div class="row pt-2">
				<div class="col-rg">Automation & Robotics Research Group</div>
			</div>
			<div class="row">
				<div class="col-rg">University of Luxembourg</div>
			</div>

			<div class="row pt-2">
				<div class="col-rg">Interdisciplinary Centre for Security,
					Reliability and Trust</div>
			</div>
			<div class="row">
				<div class="col-rg">29, avenue JF Kennedy L-1855 Luxembourg</div>
			</div>
			<div class="row">
				<div class="col-rg">Office: JFK Building, E02-224</div>
			</div>
		</div>
	</div>
</div>
